


//____________VARIABLES______________





$primary-color:#C8BE5A; //color de texto ORIGINAL.

$secondary-color: #dd9c14;//color de texto RESALTADO.

$colorAtencion: #600e0e; //Resalta contraindicaciones en fiambres.html

$afirmativo:#0b4a2b; //Color usado para afirmar o confirmar


				//___________RELIEVES DE IMAGENES_______________

$relieveTablasIndex:					/*Sombra interna*/
-3px -4px 3px 2px inset rgba(74, 11, 11, 0.1),	
-4px -5px 5px 4px inset rgba(94, 14, 14, 0.2),		
4px 5px 5px 4px inset rgba( 94,14, 14, 0.2),		
3px 4px 3px 2px inset rgba(74, 11, 11,0.1),
/*Falso borde*/
1px 1px 0 0 rgba(74, 11, 11, 0.6),	
-1px -1px 0 0 rgba(74,11,11,0.6),		
/*Sombra externa*/	
5px 5px 5px 0 rgba(141, 20, 20, 0.1),			  
3px 3px 3px 1px rgba( 118,17, 17, 0.2), 
2px 2px 1px 0 rgba(94, 14, 14,0.15),		
-2px 	-2px 1px 0  rgba(94, 14, 14, 0.2),
-3px -3px 3px 1px  rgba(118, 17, 17, 0.15),
5px 5px 5px 0 rgba(141, 20, 20, 0.1);	

$relieveImg:
/*Falso borde*/
1px 1px 0 0 rgba(52, 8, 8, 0.6),	
-1px -1px 0 0 rgba(52,8,8,0.6),		
/*Sombra externa*/	
5px 5px 5px 0 rgba(119, 17, 17, 0.1),			  
3px 3px 3px 1px rgba( 96,14, 14, 0.2), 
2px 2px 1px 0 rgba(72, 11, 11,0.15),		
-2px 	-2px 1px 0  rgba(72, 11, 11, 0.2),
-3px -3px 3px 1px  rgba(96, 14, 14, 0.15),
5px 5px 5px 0 rgba(119, 17, 17, 0.1);

$relieveImg__detalle:
/*Falso borde*/
1px 1px 0 0 rgba(52, 8, 8, 0.6),  
-1px -1px 0 0 rgba(52,8,8,0.6),   
/*Sombra externa*/  
5px 5px 5px 0 rgba(119, 17, 17, 0.1),       
3px 3px 3px 1px rgba( 96,14, 14, 0.2), 
2px 2px 1px 0 rgba(72, 11, 11,0.15),    
-2px  -2px 1px 0  rgba(72, 11, 11, 0.2),
-3px -3px 3px 1px  rgba(96, 14, 14, 0.15),
5px 5px 5px 0 rgba(119, 17, 17, 0.1);

$relieveImg__claro:
/*Falso borde*/
1px 1px 0 0 rgba(52, 8, 8, 0.6),	
-1px -1px 0 0 rgba(52,8,8,0.6),		
/*Sombra externa*/	
5px 5px 5px 1px rgba(163,24,24, 0.25),			  
3px 3px 3px 2px rgba(141,20,20, 0.35), 
2px 2px 1px 1px rgba(118, 17, 17,0.3),		
-2px 	-2px 1px 1px  rgba(118, 17, 17, 0.3),
-3px -3px 3px 2px  rgba(141,20,20, 0.35),
5px 5px 5px 1px rgba(163,24,24, 0.25);

$iluminacion:
/*Falso borde*/
1px 1px 0 0 rgba(200, 190, 190, 0.8),	
-1px -1px 0 0 rgba(200,190,190,0.8),		
/*Sombra externa*/	
5px 5px 5px 1px rgba(219,213,147, 0.25),			  
3px 3px 3px 2px rgba(213,205,128, 0.35), 
2px 2px 1px 1px rgba(206, 198, 109,0.3),		
-2px 	-2px 1px 1px  rgba(206, 198, 109, 0.3),
-3px -3px 3px 2px  rgba(213,205,128, 0.35),
5px 5px 5px 1px rgba(219,213,147, 0.25);


$nombre-fiambre:linear-gradient(
                              90deg,
                          rgba(96, 14, 14, 0.1) 0%,
                          rgba(96, 14, 14, 0.2) 1%,
                          rgba(96, 14, 14, 0.3) 5%,
                          rgba(96, 14, 14, 0.4) 7%,
                          rgba(96, 14, 14, 0.5) 10%,
                          rgba(96, 14, 14, 0.7) 20%,
                          rgba(96, 14, 14, 0.9) 50%,
                          rgba(96, 14, 14, 0.7) 80%,
                          rgba(96, 14, 14, 0.5) 90%,
                          rgba(96, 14, 14, 0.4) 93%,
                          rgba(96, 14, 14, 0.3) 95%,
                          rgba(96, 14, 14, 0.2) 99%,
                          rgba(96, 14, 14, 0.1) 100%);
$nombre-fabricante:linear-gradient(
                              90deg,
                          rgba(206, 198, 109, 0.1) 0%,
                          rgba(206, 198, 109, 0.2) 1%,
                          rgba(206, 198, 109, 0.3) 5%,
                          rgba(206, 198, 109, 0.4) 7%,
                          rgba(206, 198, 109, 0.5) 10%,
                          rgba(206, 198, 109, 0.7) 20%,
                          rgba(206, 198, 109, 0.9) 50%,
                          rgba(206, 198, 109, 0.7) 80%,
                          rgba(206, 198, 109, 0.5) 90%,
                          rgba(206, 198, 109, 0.4) 93%,
                          rgba(206, 198, 109, 0.3) 95%,
                          rgba(206, 198, 109, 0.2) 99%,
                          rgba(206, 198, 109, 0.1) 100%);

$categoria-fiambre:linear-gradient(
                              110deg,
                          rgba(160, 150, 53, 0) 0%,
                          rgba(160, 150, 53, 0) 15%,
                          rgba(160, 150, 53, 1) 16%,
                          rgba(160, 150, 53, 0.3) 17%,
                          rgba(96, 14, 14, 0.7) 19%,
                          rgba(96, 14, 14, 0.9) 50%,
                          rgba(96, 14, 14, 0.7) 81%,
                          rgba(160, 150, 53, 0.3) 83%,
                          rgba(160, 150, 53, 1 ) 84%,
                          rgba(160, 150, 53, 0) 85%,
                          rgba(160, 150, 53, 0) 99%,
                          rgba(160, 150, 53, 0) 100%);

//___________MAPS_________________
$colorIndex: (
	p:#ddad14,
	h2:#dd9c14,
	h3:#ddad14,
	li:#edc137,
	a:#edc137,
	label:#edc137);




//____________EACH_______________
@each $etiqueta , $colorFuente in $colorIndex{
	.home #{$etiqueta}{
		color:$colorFuente;
	}
}


//COLORES PRINCIPALES DE TEXTO
p, a{
	color: $primary-color;
}

//___________FONDOS TRASLÚCIDOS_________	




//FONDO HEADER
$fondoHeader:linear-gradient(rgba(73,11,11,1) 0%,
	rgba(95,14,14,1) 20%,
	rgba(95,14,14,0.9) 40%,
	rgba(95,14,14,0.8) 50%,
	rgba(95,14,14,0.7) 60%,
	rgba(117,17,17,0.3) 80%,
	rgba(117,17,17,0.2) 90%,
	rgba(117,17,17,0.1) 95%,
	rgba(117,17,17,0) 100%);


//FONDO FOOTER
$fondoFooter:linear-gradient(rgba(117,17,17,0.3) 0%,
	rgba(117,17,17,0.5) 5%,
	rgba(117,17,17,0.6) 20%,
	rgba(117,17,17,0.7) 40%,
	rgba(95,14,14,0.7) 60%,																					
	rgba(95,14,14,0.8) 80%,
	rgba(95,14,14,0.9) 90%,
	rgba(95,14,14,1) 95%,
	rgba(73,11,11,1) 100%);	

//FONDO MAIN (INDEX)
$fondoIndexMain:linear-gradient(rgba(117,17,17,0) 0%,
                                              rgba(117,17,17,0.1) 3%, 
                                                rgba(117,17,17,0.15) 5%, 
                                                  rgba(117,17,17,0.2) 10%, 
                                                    rgba(95,14,14,0.4) 20%,
                                                      rgba(95,14,14,0.5) 40%,
                                                        rgba(95,14,14,0.6) 50%,
                                                      rgba(95,14,14,0.5) 60%,
                                                    rgba(117,17,17,0.4) 80%,
                                                  rgba(117,17,17,0.2) 90%, 
                                                rgba(117,17,17,0.15) 95%,  
                                              rgba(117,17,17,0.1) 97%, 
                                            rgba(117,17,17,0) 100%);
         
//FONDO PARA SECTION TABLAS (INDEX)
$fondoTablasIndex: linear-gradient(rgba(117,17,17,0) 0%,
	rgba(117,17,17,0.05) 3%, 
	rgba(117,17,17,0.1) 5%, 
	rgba(117,17,17,0.15) 10%, 
	rgba(95,14,14,0.2) 20%,
	rgba(95,14,14,0.25) 40%,
	rgba(95,14,14,0.3) 50%,
	rgba(95,14,14,0.25) 60%,
	rgba(117,17,17,0.2) 80%,
	rgba(117,17,17,0.15) 90%, 
	rgba(117,17,17,0.1) 95%,  
	rgba(117,17,17,0.05) 97%, 
	rgba(117,17,17,0) 100%);

//FONDO SECTION FINAL DEL INDEX
$fondoCierreIndex:linear-gradient(rgba(117,17,17,0.1) 0%,
	rgba(117,17,17,0.2) 3%, 
	rgba(117,17,17,0.3) 5%, 
	rgba(117,17,17,0.4) 10%,
	rgba(95,14,14,0.7) 40%,
	rgba(95,14,14,0.7) 50%,
	rgba(95,14,14,0.7) 60%,
	rgba(117,17,17,0.4) 90%, 
	rgba(117,17,17,0.3) 95%,  
	rgba(117,17,17,0.2) 97%, 
	rgba(117,17,17,0.1) 100%);



//COLORES DE FONDO

header {
        background-image: $fondoHeader;
		img{
            border-radius: 80px;
            box-shadow: -3px 4px 4px rgba(51,7,7,0.5);
        }       

}

		//Marca ubicada en el Header
.donFermin{
			text-shadow: -1px -1px 0 rgba(200, 240, 175, 0.5 ),
                          1px 1px 0  rgba(200, 240, 175, 0.5);
}

/*COLORES MENÚ (clases personalizadas para pisar BOOTSTRAP)*/
.navbar-personalized .navbar-nav .nav-link {
  color: rgba(200, 190, 90, 0.9);
  transform: skew(-15deg);
}
.navbar-personalized .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: rgba(200, 190, 90, 0.7);
  background-color: rgba(96, 14, 14,0.8) ;
}

.navbar-personalized .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(200, 190, 90, 0.9);
}
.navbar-personalized .navbar-toggler {
  color: rgba(200, 190, 90, 0.55);
  border-color: rgba(200, 190, 90, 0.1);
}

.navbar-personalized .navbar-text {
  color: rgba(200, 190, 90, 0.55);
}
.navbar-personalized .navbar-text a,
.navbar-personalized .navbar-text a:hover,
.navbar-personalized .navbar-text a:focus {
  color: rgba(200, 190, 90, 0.9);
}



.navbar-nav > li > .dropdown-menu { 
                                    background-color: rgba(118,17,17,0.8); 
}

 .navbar-nav > li > .dropdown-menu a{   
                                      color: rgba(200, 190, 90, 0.8);
  }

.navbar-nav > li > .dropdown-menu a:hover{
                                          background-color: rgba(96, 14, 14,0.9);
                                          color: rgba(200, 190, 90, 0.9);
}


//__________________________________INDEX____________________________________________-

/*Fondo Index*/
.home{
      background-image: url(../img/picada_1.jpeg);
      min-height: 50vh;
      background-repeat: no-repeat;
      background-position: absolute;
      background-attachment: fixed;
      background-size: cover;
}

//index main
main{
	h2 {
        text-shadow:1px -1px 1px rgba(87, 28, 0, 0.3),
                    1px -1px 0 rgba(87, 28, 0, 0.5),
                    -1px 1px 0 rgba(27, 4, 4, 0.8),
                    -2px 2px 1px rgba(27, 4, 4, 0.6);
    }
    p{
    	text-shadow:1px -1px 1px rgba(87, 28, 0, 0.3),
                              1px -1px 0 rgba(87, 28, 0, 0.5),
                              -1px 1px 0 rgba(27, 4, 4, 0.8),
                              -2px 2px 1px rgba(27, 4, 4, 0.6);
    }
}

//_______________________COLORES SECTION TABLAS INDEX

		.descripcion{//aplica en los article de las tablas clasica, especial y Don Fermín en index.html
    		         text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.7);
    	}

//clase que modifica el h2 "nuestras picadas" del index

		.subtituloIndex{
			text-shadow:1px -1px 1px rgba(87, 28, 0, 0.3),
                            1px -1px 0 rgba(87, 28, 0, 0.5),
                            -1px 1px 0 rgba(27, 4, 4, 0.8),
                            -2px 2px 1px rgba(27, 4, 4, 0.6);
		}

// Botón picar que envia al form de compra

    .picar{
            background-color: rgba(117, 32, 13, 0.8);
            text-shadow: -1px 1px 0 rgba(29,4,4,0.5);
      }


//COLORES DE ARTICLES INCLUIDOS EN LA SECTION TABLAS (Index)

//Article "tabla clasica" del index
		.clasicaIndex{
						h3{
							text-shadow: 1px -1px 1px rgba(96, 14, 14, 0.4),
		                              -1px 1px 1px rgba(96, 14, 14, 0.6),
                                 -1px 1px 0 rgba(29,4,4,0.7);
						}
		}


//Article "tabla especial" del index
		.especialIndex{
						h3{
							text-shadow: 1px -1px 1px rgba(96, 14, 14, 0.4),
                        				-1px 1px 1px rgba(96, 14, 14, 0.6),
                               -1px 1px 0 rgba(29,4,4,0.7);
						}
		}


//Article "tabla don fermin" del index
		.donFerminIndex{
						h3{
							text-shadow: 1px -1px 1px rgba(96, 14, 14, 0.4),
                        		        -1px 1px 1px rgba(96, 14, 14, 0.6),
                                   -1px 1px 0 rgba(29,4,4,0.7);
						}
		}

//section final del index

.cierreIndex {
     h4{
                    text-shadow: 1px 1px 0 rgba(0, 0, 0,0.4);
    }

     p{
                    text-shadow: 1px 1px 0 rgba(0, 0, 0,0.4);
    
        a{
                          text-shadow: 1px 1px 0 rgba(0, 0, 0,0.4);
        }
    }
}

// FOOTER


// nav contenedor de las redes en el footer
	.redes{
			background-color: rgba(200, 240, 175, 0.3 );
       		border: 1px dotted rgb(200, 240, 175 );
	}

	// colores Formulario footer

footer form{
            background-image:  radial-gradient(circle,
            	rgba(118,17,17,1) 0%, 
            	rgba(96,14,14,0.7) 35%, 
            	rgba(74,11,11,0.6) 100%);


			input{
                      color: #761111;
                      background-color: #d5cd80;
    		}

    	 			input::placeholder{
    									color:rgba(118, 17, 17, 0.8) ;
					}

	 		select{
                    color: #761111;
                    background-color: #d5cd80;

                    option{
							color: #761111;
					}

    		}

    		textarea{
    				background-color: #d5cd80;
    				color: #761111;
		}
				textarea::placeholder{
										color:rgba(118, 17, 17, 0.8) ;
		}
}

// Colores botones form footer
		.enviar{
            	background-color: #0b4a2b;
           	 	color: #d5cd80;
    	}
    	
    	.limpiar{
           		background-color:#4a0b0b;
            	color: #d5cd80;
   		}



// COLORES tabla_clasica.html / tabla_especial.html / tabla_don_fermin.htm


 .tablasDetalle main{
                      background-image:linear-gradient(rgba(117,17,17,0) 0%,
                                                  rgba(117,17,17,0.05) 3%, 
                                                    rgba(117,17,17,0.1) 5%, 
                                                      rgba(117,17,17,0.15) 10%, 
                                                        rgba(95,14,14,0.2) 20%,
                                                          rgba(95,14,14,0.25) 40%,
                                                            rgba(95,14,14,0.3) 50%,
                                                          rgba(95,14,14,0.25) 60%,
                                                        rgba(117,17,17,0.2) 80%,
                                                      rgba(117,17,17,0.15) 90%, 
                                                    rgba(117,17,17,0.1) 95%,  
                                                  rgba(117,17,17,0.05) 97%, 
                                                rgba(117,17,17,0) 100%);
                       h1{
                          text-shadow: -1px 1px 1px rgba(29,4,4,0.8); 
                      }
                      h2{
                          text-shadow: -1px 1px 1px rgba(29,4,4,0.8); 
                      }
                        ul{
                          li{ 
                              color: $primary-color;
                              text-shadow: -1px 1px 1px rgba(29,4,4,0.8); 
                          		a{
	 																color: $primary-color;
	 																text-shadow: -1px 1px 1px rgba(29,4,4,0.8);	
	 														}

                          }
												}
											div{
                            p{
                                  color: $primary-color;
                                  text-shadow: -1px 1px 1px rgba(29,4,4,0.8); ;
                            }
                      }
}

// Clase para resaltar los productos de regalo incluidos sin cargo
      .regalo{
              color: $primary-color;
              text-shadow: -1px 1px 1px rgba(29,4,4,0.8);     
        }

// ______________________________________Quesos.html_____________________________________________________

.nuestrosQuesos main{
                      h1{
                          color: $secondary-color;
                          text-shadow:1px -1px 1px rgba(87, 28, 0, 0.3),
                                      1px -1px 0 rgba(87, 28, 0, 0.5),
                                      -1px 1px 0 rgba(27, 4, 4, 0.8),
                                      -2px 2px 1px rgba(27, 4, 4, 0.6);
    									}
    									p{
															color: $secondary-color;
															text-shadow: -1px 1px 0 rgba(0, 0, 0, 1);
											}
  }

 // __________QUESOS SEMIDUROS_________

 .semiduros{
 						h2{
                color: $secondary-color;
                text-shadow:1px -1px 1px rgba(87, 28, 0, 0.3),
                                        1px -1px 0 rgba(87, 28, 0, 0.5),
                                        -1px 1px 0 rgba(27, 4, 4, 0.8),
                                        -2px 2px 1px rgba(27, 4, 4, 0.6);
            }
            h4{
								color: $secondary-color;
								text-shadow:1px -1px 1px rgba(87, 28, 0, 0.3),
								  											1px -1px 0 rgba(87, 28, 0, 0.5),
								  											-1px 1px 0 rgba(27, 4, 4, 0.8),
								  											-2px 2px 1px rgba(27, 4, 4, 0.6);
						}
						p{
								color: $secondary-color;
						}
 }

.nombreQueso{
              color: $secondary-color;
}

	.pategras{
						background-image:linear-gradient(rgba(51,8,8,0.05) 0%,
									 																rgba(51,8,8,0.2) 3%, 
									 																	rgba(51,8,8,0.4) 5%, 
									 																		rgba(51,8,8,0.6) 10%, 
									 																			rgba(51,8,8,0.8) 20%,
									 																				rgba(51,8,8,0.9) 40%,
																														rgba(74,11,11,1) 50%,
									 																				rgba(74,11,11,0.9) 60%,
									 																			rgba(74,11,11,0.8) 80%,
									 																		rgba(74,11,11,0.7) 90%, 
									 																	rgba(74,11,11,0.6) 95%,  
									 																rgba(74,11,11,0.5) 97%, 
									 															rgba(74,11,11,0.4) 100%);
						img{
								box-shadow:$relieveImg;
						}
}

	.danbo{
          background-image:linear-gradient(rgba(74,11,11,0.4) 0%,
                                                  rgba(74,11,11,0.5) 3%, 
                                                    rgba(74,11,11,0.6) 5%, 
                                                      rgba(74,11,11,0.7) 10%, 
                                                        rgba(96,14,14,0.8) 20%,
                                                          rgba(96,14,14,0.9) 40%,
                                                            rgba(96,14,14,1) 50%,
                                                          rgba(96,14,14,0.9) 60%,
                                                        rgba(96,14,14,0.8) 80%,
                                                      rgba(96,14,14,0.7) 90%, 
                                                    rgba(96,14,14,0.6) 95%,  
                                                  rgba(96,14,14,0.4) 97%, 
                                                rgba(96,14,14,0.3) 100%);
          img{
              box-shadow: $relieveImg;
          }
  }

  .braPimienta{
              background-image:linear-gradient(rgba(96,14,14,0.3) 0%,
                                                rgba(96,14,14,0.2) 3%, 
                                                  rgba(74,11,11,0.4) 5%, 
                                                    rgba(96,14,14,0.6) 10%, 
                                                      rgba(96,14,14,0.8) 20%,
                                                        rgba(96,14,14,0.9) 40%,
                                                          rgba(96,14,14,1) 50%,
                                                        rgba(96,14,14,0.9) 60%,
                                                      rgba(96,14,14,0.8) 80%,
                                                    rgba(74,11,11,0.7) 90%, 
                                                  rgba(74,11,11,0.6) 95%,  
                                                rgba(74,11,11,0.5) 97%, 
                                              rgba(74,11,11,0.4) 100%);
              img{
                  box-shadow: $relieveImg;
                }	
  }

  .braAhumado{
              background-image:linear-gradient(rgba(74,11,11,0.4) 0%,
                                                  rgba(74,11,11,0.5) 3%, 
                                                    rgba(74,11,11,0.6) 5%, 
                                                      rgba(74,11,11,0.7) 10%, 
                                                        rgba(74,11,11,0.8) 20%,
                                                          rgba(74,11,11,0.9) 40%,
                                                            rgba(74,11,11,1) 50%,
                                                          rgba(51,8,8,0.9) 60%,
                                                        rgba(51,8,8,0.8) 80%,
                                                      rgba(51,8,8,0.6) 90%, 
                                                    rgba(51,8,8,0.4) 95%,  
                                                  rgba(51,8,8,0.2) 97%, 
                                                rgba(51,8,8,0.05) 100%);
              img{
                  box-shadow: $relieveImg;
              }

  }

// ______________Quesos Azules_____________

	.azules{
					h2{
                color: $secondary-color;
                text-shadow:1px -1px 1px rgba(87, 28, 0, 0.3),
                                        1px -1px 0 rgba(87, 28, 0, 0.5),
                                        -1px 1px 0 rgba(27, 4, 4, 0.8),
                                        -2px 2px 1px rgba(27, 4, 4, 0.6);
          }
	}

  .nombreQuesoAzul{
                  color: $secondary-color;
  }

		.roquefort{
            background-image: linear-gradient(
                              90deg,
                          rgba(96, 14, 14, 1) 0%,
                          rgba(96, 14, 14, 0.9) 10%,
                          rgba(96, 14, 14, 0.8) 50%,
                          rgba(96, 14, 14, 0.7) 80%,
                          rgba(96, 14, 14, 0.6) 90%,
                          rgba(96, 14, 14, 0.5) 93%,
                          rgba(96, 14, 14, 0.4) 95%,
                          rgba(96, 14, 14, 0.3) 99%,
                          rgba(96, 14, 14, 0.1) 100%);
            img{
   								box-shadow: $relieveImg;
						}
						h5{
								color: $secondary-color;
								text-shadow:1px -1px 1px rgba(87, 28, 0, 0.3),
								  											1px -1px 0 rgba(87, 28, 0, 0.5),
								  											-1px 1px 0 rgba(27, 4, 4, 0.8),
								  											-2px 2px 1px rgba(27, 4, 4, 0.6);
						}
						p{
								color: $secondary-color;
						}
    }

    .gorgonzola{
						background-image: linear-gradient(
						  								90deg,
						  								rgba(96, 14, 14, 0.1) 0%,
						  								rgba(96, 14, 14, 0.3) 1%,
						  								rgba(96, 14, 14, 0.4) 5%,
						  								rgba(96, 14, 14, 0.5) 7%,
						  								rgba(96, 14, 14, 0.6) 10%,
						  								rgba(96, 14, 14, 0.7) 20%,
						  								rgba(96, 14, 14, 0.8) 50%,
						  								rgba(96, 14, 14, 0.9) 90%,
						  								rgba(96, 14, 14, 1) 100%);
						img{
									box-shadow: $relieveImg;
						}
						h5{
								color: $secondary-color;
								text-shadow:1px -1px 1px rgba(87, 28, 0, 0.3),
								 											1px -1px 0 rgba(87, 28, 0, 0.5),
								 											-1px 1px 0 rgba(27, 4, 4, 0.8),
								 											-2px 2px 1px rgba(27, 4, 4, 0.6);
						}
						p{
								color: $secondary-color;
						}
		}

// ___________________________COLORES fiambres.html__________________________________

		.prologoFiambres{
										text-shadow: -1px 1px 0 rgba(96, 14, 14, 0.5),
																	 1px -1px 0 rgba(96, 14, 14, 0.5);
		}

		.curados, .cocidos{
												&__subtitulo{
													background-image: $categoria-fiambre;
													
												}
		}

			.salame{
			&__producto{
						background-image: $nombre-fiambre;		
			}
			&__fabricante{
										background-image: $nombre-fabricante;
										color: #600e0e;
			}
	}

	.mediterraneo{
					&__producto{
								background-image: $nombre-fiambre;
					}
					&__fabricante{
										background-image: $nombre-fabricante;
										color: #600e0e;
					}
	}

	.longaniza{
				&__producto{
							background-image: $nombre-fiambre;
				}
				&__fabricante{
										background-image: $nombre-fabricante;
										color: #600e0e;
					}
	}

	.sopressata{
				&__producto{
							background-image: $nombre-fiambre;
				}
				&__fabricante{
										background-image: $nombre-fabricante;
										color: #600e0e;
					}
	}

	.crudo{
			&__producto{
						background-image: $nombre-fiambre;
			}
			&__fabricante{
										background-image: $nombre-fabricante;
										color: #600e0e;
					}
	}

	.jamonCocido{
				&__producto{
							background-image: $nombre-fiambre;
				}
				&__fabricante{
										background-image: $nombre-fabricante;
										color: #600e0e;
					}
	}

	.lomo{
		&__producto{
					background-image: $nombre-fiambre;
		}
		&__fabricante{
										background-image: $nombre-fabricante;
										color: #600e0e;
					}
	}

	.mortadela{
				&__producto{
							background-image: $nombre-fiambre;
				}
				&__fabricante{
										background-image: $nombre-fabricante;
										color: #600e0e;
					}
	}

		//COLORES PERSONALIZADOS ACCORDION fiambres

		.ingredientes{
							background-color: #931515;
							color: $primary-color;
}

		.boton-accordion{
				background-color: #C8BE5A;
				color: #931515;


				&:active{
								border: 3px solid #a31818;
				}

				&:focus{
								 z-index: 3;
								 border-color: #a31818;
								 outline: 0;
								 box-shadow: 0 0 0 0.25rem rgba(147, 21, 21, 0.25);
				}
}



.boton-accordion:not(.collapsed) {
  color: $primary-color;
  background-color: #600e0e ;
  box-shadow: inset 0 -1px 0 rgba(147, 21, 21, 0.125);
}


.boton-accordionR{
				background-color: #931515;

        strong {
                color: $secondary-color;

        }
        &:active{
								border: 3px solid #c2b647;
				}

				&:focus{
								 z-index: 3;
								 border-color: #cec66d;
								 outline: 0;
								 box-shadow: 0 0 0 0.25rem rgba(206, 198, 109,0.25);
				}
}

.boton-accordionR:not(.collapsed) {
  background-color: #C8BE5A;

  box-shadow: inset 0 -1px 0 rgba(96, 14, 14, 0.125);
  										strong{
  														  color: #600e0e;
  										}
}


.descriptionBox{
  							background-image: linear-gradient(
  								rgba(208,30,30,0.3)2%,
  								rgba(208,30,30,0.5)10%,
  								rgba(186,26,26,0.7)20%,
  								rgba(163,23,23,0.9)50%,
  								rgba(186,26,26,0.7)80%,
  								rgba(208,30,30,0.5)90%,
  								rgba(208,30,30,0.3)98%);
  							box-shadow: -1px 1px 1px 1px rgba(141,20,20,0.1);
  							p{
              		color: $primary-color;
              		text-shadow: -1px 1px 1px #600e0e,
              		            1px -1px 1px #600e0e;
								}

}

// _____________________________________COLORES compras.html_____________________________________________


.carouselPersonalizado{
				h5{
					font-size: 1.8rem;

				}
}

/*
		.compraClasica {
										h2 {
												color: $secondary-color;
												text-shadow:1px -1px 1px rgba(87, 28, 0, 0.3),
								  									1px -1px 0 rgba(87, 28, 0, 0.5),
								  									-1px 1px 0 rgba(27, 4, 4, 0.8),
								  									-2px 2px 1px rgba(27, 4, 4, 0.6);
								  	}
		}

		.compraEspecial{
										h2{
											color: $secondary-color;
											text-shadow:1px -1px 1px rgba(87, 28, 0, 0.3),
								  								1px -1px 0 rgba(87, 28, 0, 0.5),
								  								-1px 1px 0 rgba(27, 4, 4, 0.8),
								  								-2px 2px 1px rgba(27, 4, 4, 0.6);
								  	}
		}


		.compraDf{
							h2 {
									color: $secondary-color;
									text-shadow:1px -1px 1px rgba(87, 28, 0, 0.3),
															1px -1px 0 rgba(87, 28, 0, 0.5),
															-1px 1px 0 rgba(27, 4, 4, 0.8),
															-2px 2px 1px rgba(27, 4, 4, 0.6);
							}
		}
*/

// _____________________________________COLORES FORMULARIO DE COMPRA_______________________

.completar{
					color: $secondary-color;
					text-shadow:1px -1px 1px rgba(87, 28, 0, 0.3),
								  											1px -1px 0 rgba(87, 28, 0, 0.5),
								  											-1px 1px 0 rgba(27, 4, 4, 0.8),
								  											-2px 2px 1px rgba(27, 4, 4, 0.6);
}

.formCompra{ 
            background-color: #600e0e;
            input::placeholder{
															color: rgba(96, 14, 14,0.8);
						}
						textarea{
											color: #761111;
											background-color: #d5cd80;	
											margin-top: 2vh;
						}
}

.pedido{
				color: #761111;
						background-color: #d5cd80;	
}

.name{
			input{
						color: #761111;
						background-color: #d5cd80;	
			}
			label{
				color: $primary-color;
			}
}

.surname{ 
				input{
							color: #761111;
							background-color: #d5cd80;	
				}
				label{
					color: $primary-color;
				}
}

.phone{
			 input{
							color: #761111;
							background-color: #d5cd80;
			}
			label{
				color: $primary-color;
			}
}

.address{
				 input{
							color: #761111;
							background-color: #d5cd80;
					}	
					label{
						color: $primary-color;
					}	
}

.cp{
	 input{
				color: #761111;
				background-color: #d5cd80;			
		}
		label{
			color: $primary-color;
		}
}

.present{
				 input{
							color: #761111;
							background-color: #d5cd80;
				}
				label{
					color: $primary-color;
				}
}

.reception{
					input{
								color: #761111;
								background-color: #d5cd80;
					}
					label{
						color: $primary-color;
					}
}

.message{
				 input{
							color: #761111;
							background-color: #d5cd80;	
					}
					label{
						color: $primary-color;
					}
}

.comprar{
				background-color: $afirmativo;
				color: #d5cd80;
}

.borrar{
				background-color:#4a0b0b;
				color: #d5cd80;
}