//VARIABLES


$sizeH1: 34px; //Tama침o h1

$colorH:#C8BE5A; //color etiquetas <h>



$colorP:blue; //color etiqueta <p>

$sombraH:-1px 1px 0 rgba(0, 120, 225, 0.5),
			1px -1px 0 rgba(240,0,130,0.5);



						//BUCLES
//variaci칩n del tama침o de H en base al valor de $sizeH1 (modificar esta variable para cambiar tama침os de H).
//Se recomienda modificar en px para que el bucle funcione correctamente.
@for $i from 1 through 6 {
	h#{$i} {font-size: $sizeH1 -($i+($i - 2));
			color: $colorH;
			}
}


