@import "tipografias" ;
@import "colores";
@import"sombreados";
@import "animaciones";
@import "clasesRepetidas";




/*RESETEO Y ESTILOS GENERALES*/
*{
  margin: 0;
  padding: 0;
  font-family:'Mate SC', serif;
 }

/*estilos <p>*/
p{
  
  text-shadow: -1px 1px 0 rgba(29,4,4,0.7);
}


/*Estilo básico de <a>*/



/*Establecer imagen de fondo*/
body {
       background-image: url(../img/fondo.png);
}

/*---ESTILO HEADER---*/
/*Header*/
header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        img{
            border-radius: 80px;
        }
}

/*Clase de la marca ubicada en el header*/
  .donFermin{
    color: $colorTexto;
   animation: Marca 2s ease-in 1s 1 normal forwards;
  }





/*---------------------------------ESTILOS INDEX-------------------------------------------------*/




  /*--------Estilos main (index)---------*/
      main{
            background-image: $fondoIndexMain;
            margin: 50px 0;
            padding: 10vh 10vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            h2 {
                margin-bottom: 0.3rem;
            }
            p {
                font-size: 1.3rem;
            }
      }

/*Fin estilos Main (index)*/


                                        /*SECTION TABLAS Index.html*/

    .descripcion{/*aplica en los article de las tablas clasica, especial y Don Fermín en index.html*/
                grid-area:  texto;
                margin: 1.25rem 0.62rem 0 0;
    }
    .leyendaIndex{/*aplica en los article de las tablas clasica, especial y Don Fermín en index.html*/
                  grid-area:  leyenda;
                  justify-self: flex-end;
    }


/*INICIO ESTILOS ARTICLE TABLA CLÁSICA Index.html*/



  .clasicaIndex {
                margin: 5vh 5vw;
                padding: 0.6rem 3.1rem;
                                /*CAJA EN RELIEVE*/
                box-shadow: $relieveTablasIndex;
                                
            /*CAJA CON FONDO SOMBREADO*/
                background-image: $fondoTablasIndex;
                /*GRID*/
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-areas:  "nombre nombre nombre"
                                      "foto texto secundaria"
                                      "foto leyenda secundaria"
                                      "picar picar picar";
                justify-content: space-evenly;
                align-items: flex-start;

                h3{
                  grid-area: nombre;
                  justify-self: center;
                }
 }
   .fotoClasica{
                  grid-area: foto;
                  box-shadow: $relieveTablasIndex;
    }
    .fotoClasicaDos{
                      grid-area: secundaria;
                      box-shadow: $relieveTablasIndex;
    }

 
/*FIN ESTILOS ARTICLE TABLA CLÁSICA Index.html*/


/*INICIO ESTILOS ARTICLE TABLA ESPECIAL Index.html*/
.especialIndex {
          margin: 5vh 5vw;
          padding: 0.6rem 3.1rem;
                      /*CAJA EN RELIEVE*/
          box-shadow: $relieveTablasIndex;      
                      /*CAJA CON FONDO SOMBREADO*/
          background-image:$fondoTablasIndex;
              /*GRID*/
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-areas:"nombre nombre nombre"
                    "foto texto secundaria"
                    "foto leyenda secundaria"
                    "picar picar picar";
          justify-content: space-evenly;
          align-items: flex-start;

          h3{
              grid-area: nombre;
              justify-self: center;
            }
  }

  .fotoEspecial{
                  grid-area: foto;
                  box-shadow: $relieveTablasIndex;
    }
    .fotoEspecialDos{
                      grid-area: secundaria;
                      box-shadow: $relieveTablasIndex;
    }
    

/*FIN ESTILOS ARTICLE TABLA ESPECIAL Index.html*/


/*INICIO ESTILOS ARTICLE TABLA DON FERMIN Index.html*/

  .donFerminIndex {
                    margin: 5vh 5vw;
                    padding:0.6rem 3.1rem ;
                                /*CAJA EN RELIEVE*/
                    box-shadow:$relieveTablasIndex;     
                                /*CAJA CON FONDO SOMBREADO*/
                    background-image: $fondoTablasIndex;
                      /*GRID*/
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-areas:  "nombre nombre nombre"
                                          "foto texto secundaria"
                                          "foto leyenda secundaria"
                                          "picar picar picar";
                    justify-content: space-evenly;
                    align-items: flex-start;
            
            h3{
                        
                        grid-area: nombre;
                        justify-self: center;

            }
  }

        .fotoDf{
                grid-area: foto;
                box-shadow: $relieveTablasIndex;
        }
        .fotoDfDos{
                    grid-area: secundaria;
                    box-shadow: $relieveTablasIndex;
        }


    
/*FIN ESTILOS ARTICLE TABLA DON FERMIN Index.html*/

/*INICIO section final index*/ 

.cierreIndex{
                background-image: $fondoCierreIndex;
                display: flex;
                flex-direction: column;
                align-items:center;
              }
/*FIN section final index/*

/*----------------------------------------ESTILOS FOOTER----------------------------------------*/

footer{
        background-image: $fondoFooter;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        padding: 1rem;
}

.redes {
        margin: 0;
        padding: 0;
        }
    .redes__contenedor{
                       display: flex;
                       justify-content: space-between;
                       margin: 0;
                       padding: 0;
    }

        .redes__enlace{
                      display: inline-block;
                      list-style-type: none;
                      margin: 0;
                      padding: 1px;
        } 

          .reedes__enlace--whatsapp{
                                    margin:1px 0;
                                    padding: 0;
          } 

          .redes__enlace--instagram{
                                    margin:1px 0;
                                    padding: 0;
          }
          .redes__enlace--facebook{
                                    margin: 1px 0 ;
                                    padding: 0;
          }

          .redes__enlace--youtube{
                                    margin: 1px 0 1px 0;
                                    padding: 0;
          }
/*INICIO estilos Formulario footer*/

  footer form{
              padding: 3vh;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              align-items: center;


             label{
                      align-self: flex-start;
              }

             input{
                      width: 70%;
              }

             select{
                        width: 70%;
              }
  }

  /*Clase para suscripcion a novedades form footer*/
      .novedades{
              margin: 2vh 0;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-evenly;
      }

  /*Estilos botones form footer*/
    .enviar{
            width: 50%;
            margin: 1vh 0;
    }

    .limpiar{
            width: 50%;
    }