
/*Estilos H




/*----------FIN ESTILOS GENERALES----------*/



	
		

	/*-------------------------------INICIO ESTILOS ARTICLE TABLA ESPECIAL Index.html-----------------------*/


	

	

		
		


/*------------------------INICIO ESTILOS ARTICLE TABLA DON FERMIN Index.html---------------------------------*/
			

		









	

    




		




		

		

		
			

		
		

		

		


		


	






































.compraClasica 

.compraClasica 










/*----GRID AREAS---*/

.formCompra 

.formCompra 
.formCompra 



		.name label{
						
		}

		.name 






			



		



		



		



		



		










/*------------ X-Small ----------- */
@media only screen
and (max-device-width : 576px) {
  /* Styles */
.imgProducto{
	width: 100%;
}
.boton:active{
	border: 3px solid #a31818;
}

.ingredientes{
							background-color: #931515;
							color: $colorTexto;
}


.boton:not(.collapsed) {
  color: $colorTexto;
  background-color: #600e0e ;
}


.botonR{
				background-color: #931515  ;
}
.botonR strong {
	text-shadow: -1px 1px 0 rgba(96, 14, 14, 0.7),
								1px -1px 0 rgba(96, 14, 14, 0.7);
}

.botonR:not(.collapsed) {
  background-color: #C8BE5A;
  color: #600e0e;
}

}
 
/* ------------------Small ----------- */
@media only screen
and (min-device-width : 576px) and (max-device-width : 756px) {
  /* Styles */

.fotoFiambre{
	width: 10%;
}


.boton:active{
	border: 3px solid #a31818;
}

.ingredientes{
							background-color: #931515;
							color: $colorTexto;
}


.boton:not(.collapsed) {
  color: $colorTexto;
  background-color: #600e0e ;
}


.botonR{
				background-color: #931515  ;
}
.botonR strong {
	text-shadow: -1px 1px 0 rgba(96, 14, 14, 0.7),
								1px -1px 0 rgba(96, 14, 14, 0.7);
}

.botonR:not(.collapsed) {
  background-color: #C8BE5A;
  color: #600e0e;
}

}

/* ------------------ Medium ----------- */
@media only screen
and (min-device-width : 768px) and (max-device-width : 992px) {
  /* Styles */
.boton{
				background-color: #C8BE5A;
				color: #931515;
}
.boton:active{
	border: 3px solid #a31818;
}

.ingredientes{
							background-color: #931515;
							color: $colorTexto;
}


.boton:not(.collapsed) {
  color: $colorTexto;
  background-color: #600e0e ;
}


.botonR{
				background-color: #931515  ;
}
.botonR strong {
	text-shadow: -1px 1px 0 rgba(96, 14, 14, 0.7),
								1px -1px 0 rgba(96, 14, 14, 0.7);
}

.botonR:not(.collapsed) {
  background-color: #C8BE5A;
  color: #600e0e;
}

}